<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>badgeShowsUpcoming</key>
	<true/>
	<key>badgeShowsOverdue</key>
	<true/>
	<key>urgentDays</key>
	<integer>7</integer>
	<key>upcomingDays</key>
	<integer>93</integer>
	<key>scheduledReminderHour</key>
	<integer>8</integer>
	<key>notificationDays</key>
	<integer>0</integer>
	<key>currencyCode</key>
	<string>$</string>
</dict>
</plist>
